@import "../../../abstract/mixins";
.checkout {
  background-color: rgb(255, 136, 0);
  .checkout__content {
    display: flex;
    flex-direction: row;
    .right {
      flex: 1 0 0;
      background-color: red;
      // .swiper-container {
      //   .swiper-slide {
      //     width: 200px;
      //   }
      // }
      .slide {
        padding-top: 25px;
        padding-left: 25px;
        h3 {
          margin-top: 10px;
        }
        p {
          margin-top: 10px;
        }
      }
    }
    .left {
      flex: 1 0 300px;
      text-align: left;
      background-color: yellow;
    }
  }
  .title_content {
    text-align: left;
  }
}
