@import "../../../abstract/mixins";
.features2 {
  overflow: hidden;
  padding: 100px 0;
  background-image: url(../../../../../images/bg-features.jpg);
  background-size: cover;
  background-position: bottom;
  .row {
    flex-direction: row-reverse;
  }
  .features2__right-side {
    margin-top: 100px;
    h4 {
      font-size: 36px;
      font-family: $main-font-bold;
      color: $title-text-color;
    }
    p {
      font-size: 18px;
      margin-top: 30px;
      color: $primary-text-color;
      line-height: 1.9;
    }
    .features2__right-side__feature1 {
      color: $secondary-color;
    }
    .free-trial-button {
      button {
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 2px;
        border-radius: 50px;
        padding: 25px 15px;
        width: 100%;
        max-width: 195px;
        border: none;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          top: 0;
          z-index: 9;
          right: -150px;
          display: inline-block;
          transform: skew(20deg, 0deg);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          &::after {
            right: -100px;
          }
        }
      }
      .bgscheme {
        background-image: linear-gradient(120deg, #6089e8 0%, #7bb2fd 100%);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .features2__left-side {
    position: relative;

    .phone-pic {
      position: relative;
    }
    .circle-icon2 {
      position: absolute;
      z-index: 9999;
      top: 38px;
      left: 183px;
    }
  }
}
@include respond(small-laptop) {
  .features2 {
    .features2__left-side {
      img {
        // width: 100%;
      }
    }
    .features2__right-side {
      margin-top: 0px;
    }
  }
}
@include respond(tablet) {
  .features2 {
    // height: 750px;
    .row {
      flex-direction: column-reverse;
    }
    .features2__left-side {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .circle-icon2 {
        top: 38px;
        left: 312px;
      }
    }
    .features2__right-side {
      h4 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@include respond(large-phone) {
  .features2 {
    .features2__left-side {
      .circle-icon2 {
        display: none;
      }
    }
  }
}
