@import "../../../abstract/mixins";
.news-letter {
  background-color: #ecf2ff;
  padding: 90px 0 90px 0;
  .news-letter__content {
    form {
      text-align: center;
      input {
        font-family: "Poppins-Medium";
        font-size: 16px;
        color: #555556;
        border-radius: 40px;
        width: 100%;
        max-width: 560px;
        padding: 22px 35px;
        &:hover {
          outline: 0 !important;
          border: none !important;
        }
      }
      button {
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 2px;
        border-radius: 50px;
        padding: 25px 15px;
        width: 100%;
        max-width: 195px;
        border: none;
        margin-left: -55px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          top: 0;
          z-index: 9;
          right: -150px;
          display: inline-block;
          transform: skew(20deg, 0deg);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          &::after {
            right: -100px;
          }
        }
      }
      .bgscheme {
        background-image: linear-gradient(120deg, #6089e8 0%, #7bb2fd 100%);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
//     max-width: 480px;
@include respond(small-laptop) {
  .news-letter {
    .news-letter__content {
      form {
        input {
          max-width: 480px;
        }
      }
    }
  }
}
@include respond(tablet) {
  .news-letter {
    .news-letter__content {
      form {
        input {
          max-width: 325px;
        }
      }
    }
  }
}
@include respond(large-phone) {
  .news-letter {
    .news-letter__content {
      form {
        input {
          margin-bottom: 15px;
          padding: 15px 30px;
        }
        button {
          margin: 0 auto;
        }
      }
    }
  }
}
