@import "../../../abstract/mixins";
.User-review {
  // margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  .User-review__content {
    background: linear-gradient(
      90deg,
      rgba(202, 110, 243, 1) 0%,
      rgba(67, 117, 248, 1) 100%
    );
    border-radius: 25px;
    padding-top: 50px;
    .swiper-container {
      padding: 50px 0 20px 0;
      .swiper-slide-next {
        transform: scale(1.1);
        p {
          color: $secondary-color;
        }
      }
    }
    .user {
      background-color: white;
      border-radius: 20px;
      padding-left: 20px;
      padding-top: 80px;
      position: relative;
      overflow: visible;
      cursor: pointer;
      box-shadow: 0 22px 45px -20px rgba(20, 37, 76, 0.5);
      width: 99%;
      margin: 0 auto;

      img {
        position: absolute;
        top: -20px;
        left: 20px;
        z-index: 9999;
        border: solid 5px white;
        border-radius: 50px;
      }
      h3 {
        color: $third-color;
        font-size: 21px;
      }
      h4 {
        color: $fourth-text-color;
        font-size: 17px;
      }
      ul {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 23px;
        top: 81px;
        cursor: pointer;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          padding: 0 1px;
          i {
            color: $third-color;
          }
        }
      }
      p {
        padding-bottom: 30px;
        font-size: 15px;
        color: $fourth-text-color;
      }
    }
  }
}
@include respond(small-laptop) {
  .User-review {
    .User-review__content {
      .user {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  .User-review {
    .User-review__content {
      .swiper-container {
        .swiper-slide-active {
          transform: scale(1.1);
          p {
            color: $secondary-color;
          }
        }
        .swiper-slide-next {
          transform: scale(1);
          p {
            color: $fourth-text-color;
          }
        }
      }
    }
  }
}
@include respond(tablet) {
  .User-review {
    .User-review__content {
      .swiper-container {
        .swiper-slide-active {
          transform: scale(1.1);
          p {
            color: $secondary-color;
          }
        }
        .swiper-slide-next {
          transform: scale(1);
          p {
            color: $fourth-text-color;
          }
        }
      }
    }
  }
}
